.chat-sidebar {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.new-chat {
    display: flex;
    justify-content: end;
    align-items: center;
}

.chat-list li.active {
    background-color: var(--background-color);
}

.chat-list li a {
    text-decoration: none;
}

.chat-list .chat-convo {
    display: flex;
    align-items: center;
}

.convo-title {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-convo {
    position: relative;
    display: flex;
    padding: 8px 12px;
}

.chat-action-icon {
    opacity: 0;
    position: absolute;
    right: 12px;
    transition: opacity 0.3s ease; /* Smooth fade */
}

.chat-convo:hover .chat-action-icon {
    opacity: 1;
}

.chat-convo:hover {
    outline: 1px solid red;
    border-radius: 12px;
}


.chat-menu {
    position: absolute;
    top: 100%;
    right: 12px;
    background: var(--background-color, #f1f1f1);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 10;
}


.chat-menu button {
    background: none;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    text-align: left;
    background-color: #f1f1f1;
}

.chat-menu button:hover {
    background-color: #f0f0f0;
}
